<nav class="navbar navbar-light bg-light justify-content-between">
  <%= link_to root_path , class:"navbar-brand" do %>
    Book-Registry App
    <i class="fa fa-book" aria-hidden="true"></i>
  <% end %>
  <%= link_to root_path , class:"navbar-brand btn btn-warning" do %>
    <i class="fa fa-home" aria-hidden="true"></i>
  <% end %>
  <%= link_to registry_index_path , class:"navbar-brand btn btn-warning" do %>
    Manage Registry
    <i class="fa fa-tachometer" aria-hidden="true"></i>
  <% end %>
</nav>