<div class="box">
	<div class="container">
		<h2>Published Books</h2>
		<hr>
		<div class="row">
			<% @books.each do |book| %>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="box-part text-center">
						<i class="custom-fa fa fa-book fa-4x" aria-hidden="true"></i>
							<div class="title">
								<h3><%= truncate(book.book_name, :length => 25, :separator => ' ') %></h3>
							</div>
						<div class="text">
							<span>
								<%= truncate(book.book_description, :length => 35, :separator => ' ')%>		
							</span>
						</div>
						<%= link_to "View Details" ,registry_path(id: book.id), class:"btn btn-secondary", method: "GET"%> 
					</div>
				</div>
			<% end %>
		</div>		
	</div>
</div>