<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add New Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for(@new_book, url: registry_index_path,  method: :post, html: { id: "", autocomplete: "off"}) do |f| %>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Category*</label>
            <div class="col-sm-10"> 
              <select id="inputState" class="form-control" name="book[category_id]">
              <% @categories.each do |category| %>
                <option value="<%= category.id%>"> <%= category.name %> </option>
              <% end %>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Title*</label>
            <div class="col-sm-10"> 
              <%= f.text_field :book_name  , class:"form-control", :required => true%>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Description*</label>
            <div class="col-sm-10"> 
              <%= f.text_area :book_description  , class:"form-control", :required => true%>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Author*</label>
            <div class="col-sm-10"> 
              <%= f.text_field :author_name  , class:"form-control", :required => true%>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">ISBN*</label>
            <div class="col-sm-10"> 
              <%= f.text_field :book_isbn  , class:"form-control", :required => true, :minlength => 10, :maxlength => 13%>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Price*</label>
            <div class="col-sm-10"> 
              <%= f.text_field :price  , class:"form-control", :required => true%>
            </div>
          </div>
          <input type="hidden" name="book[publish_status]" value="false">
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create</button>
      </div>
        <% end %>
    </div>
  </div>
</div>