<div class="search_box">
  <h4>Search Book Registry</h4>
  <%= form_for(:search, url: search_registry_index_path, remote: true,  method: :post, html: { id: "", autocomplete: "off"}) do |f| %>
    <%= f.text_field :book_name, placeholder:"Book name..." %>
    <%= f.text_field :author_name, placeholder:"Author name..." %>
    <%= f.text_field :book_isbn, placeholder:"ISBN..." %>
    <%= f.submit  value:"Search", class:"btn btn-info"%>
  <% end %>
</div>