<div class="search_box">
  <h6>Sort by
	  <select id="sort_by">
	  	<option value="0">choose..</option>
	  	<option value="book_name_asc">Book Name A-Z</option>
	  	<option value="book_name_desc">Book Name Z-A</option>
	  	<option value="author_name_asc">Author Name A-Z</option>
	  	<option value="author_name_desc">Author Name Z-A</option>
	  	<option value="price_low_high">Price Low - High</option>
	  	<option value="price_high_low">Price High - Low</option>
	  </select>
  </h6>
</div>