/* home page listings */

.box{
    padding:60px 0px;
    
}

.box-part{
    background:#FFF;
    border-radius:10px;
    padding:60px 10px;
    margin:30px 0px;
    border: 1px solid black;
}

.text{
    margin:20px 0px;
}

.custom-fa{
     color:#888;
}