/* registry table action links */
.action-links a:link, a:visited, a:active{
	color: black;
	text-decoration:none;
}
.action-links a:hover{
	color:#888;
}
.margin-top-bottom-btn{
	margin-top:5px;
	margin-bottom:5px;
}
.search_box{
	margin: 5px; 
	border:1px solid #888; 
	padding:5px;
}