<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Title</th>
			<th scope="col">Author</th>
			<th scope="col">Category</th>
			<th scope="col">Price</th>
			<th scope="col">Status</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @books.each do |book| %>
			<tr>
				<td><%= book.book_name%></td>
				<td><%= book.author_name%></td>
				<td><%= book.category.name%></td>
				<td><%= book.price%></td>
				<td><%= isPublished(book.publish_status, book.id)%></td>
				<td class="action-links">
				<%= link_to registry_path(id:book.id), title:"View details" do %>
				  <i class="fa fa-eye" aria-hidden="true"></i>
				<% end %>
				 &nbsp;&nbsp;
				<%= link_to edit_registry_path(id:book.id), title:"Edit details" do %>
				  <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 
				<% end %>
				 &nbsp;&nbsp;
				<%= link_to registry_path(id:book.id), method: "DELETE", title:"Delete" do %>
				  <i class="fa fa-trash" aria-hidden="true"></i>
				<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>