<div class="container">
	<div class="row">
		<div class="col-md-12">
		<div>
			<%= form_for(@book, url: registry_path,  method: :put, html: { id: "", autocomplete: "off"}) do |f| %>
				<div class="form-group row">
				<label class="col-sm-2 col-form-label">Category</label>
				<div class="col-sm-10"> 
				<select id="inputState" class="form-control" name="book[category_id]">
				<% @categories.each do |category| %>
					<% if category.id == @book.category_id %>
					  <option value="<%= category.id%>" selected> <%= category.name %> </option>
					<% else %>
					  <option value="<%= category.id%>"> <%= category.name %> </option>
					<% end %>
				<% end %>
				</select>
				</div>
				</div>
				<div class="form-group row">
				<label class="col-sm-2 col-form-label">Title</label>
				<div class="col-sm-10"> 
				  <%= f.text_field :book_name  , class:"form-control", :required => true%>
				</div>
				</div>
				<div class="form-group row">
				<label class="col-sm-2 col-form-label">Description</label>
				<div class="col-sm-10"> 
				  <%= f.text_area :book_description  , class:"form-control", :required => true%>
				</div>
				</div>
				<div class="form-group row">
				<label class="col-sm-2 col-form-label">Author</label>
				<div class="col-sm-10"> 
				  <%= f.text_field :author_name  , class:"form-control", :required => true%>
				</div>
				</div>
				<div class="form-group row">
				<label class="col-sm-2 col-form-label">ISBN</label>
				<div class="col-sm-10"> 
				  <%= f.text_field :book_isbn  , class:"form-control", :required => true%>
				</div>
				</div>
				<div class="form-group row">
				<label class="col-sm-2 col-form-label">Price</label>
				<div class="col-sm-10"> 
				  <%= f.text_field :price  , class:"form-control", :required => true%>
				</div>
				</div>
				<div class="form-group row">
				<div>
				<a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
				<button type="submit" class="btn btn-warning">Update</button>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>