<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="id1"></div>
			<h2>Book List</h2>
			<div class="margin-top-bottom-btn  col-md-12">
			  
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
			<i class="fa fa-plus-circle" aria-hidden="true"></i>
			&nbsp;
			Add New Book
			</button><br><br>
			<%= render "registry/forms/search"%>
			  <%= render "registry/forms/sort"%>
			</div>
			<div id="book_list">
			  <%= render "registry/book_list"%>
			</div>
		</div>
	</div>
</div>
<%= render 'registry/forms/new' %>
