<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div>
				<h2><%= @book_info.book_name %></h2>
				<p><b>Author:</b> <br><%= @book_info.author_name %></p>
				<p><b>Description:</b> <br><%= @book_info.book_description %></p>
				<p><b>ISBN:</b> <br><%= @book_info.book_isbn %></p>
				<p><b>Price:</b> <br><%= @book_info.price %></p>
				<a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
			</div>
		</div>
	</div>
</div>