<!DOCTYPE html>
<html>
  <head>
    <title>BookRegistry</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class="container">
      <%= render "layouts/shared/navbar" %>
      <%= yield %>
    </div>
  </body>
</html>
